/*Fonts*/
@font-face {
  font-family: 'Beleren Small Caps';
  src: url('https://magarena.github.io/public/css/woff/Beleren%20Small%20Caps.woff') format('woff');
}

@font-face {
    font-family: 'Beleren';
    src: url('https://magarena.github.io/public/css/woff/Beleren.woff') format('woff');
}

@font-face {
    font-family: 'MPlantin';
    src: url('https://magarena.github.io/public/css/woff/MPlantin.woff') format('woff');
}

@font-face {
    font-family: 'MPlantin';
    font-style: italic;
    src: url('https://magarena.github.io/public/css/woff/MPlantin-Italic.woff') format('woff');
}

@font-face {
    font-family: 'MPlantin';
    font-weight: bold;
    src: url('https://magarena.github.io/public/css/woff/MPlantin-Bold.woff') format('woff');
}

@font-face {
    font-family: 'MPlantin';
    font-weight: bold;
    font-style: italic;
    src: url('https://magarena.github.io/public/css/woff/MPlantin-BoldItalic.woff') format('woff');
}

html {
  font-family: "MPlantin", serif;
}

/*Set header font*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Beleren";
}

/*Set sidebar header font*/
.sidebar-about h1{
  font-family: "Beleren Small Caps", serif;
}

/*Set navbar menu font*/
.sidebar-nav-item {
  font-family: "Beleren", serif;
  font-size: 1.00rem;
}

/*Set sidebar 'about' font*/
.lead {
  font-size: 1.15rem;
  font-family: "Beleren", serif
}