<h1>Magarena {{ site.version }}</h1>

<a href="//github.com/magarena/magarena/wiki/GettingStarted">Installation Guide</a> · <a href="//github.com/magarena/magarena/blob/d13092e4a6544a94ebd78876e90acdd2f9a54438/release/README.txt#L71">Change Log</a>

<p>
Magarena is a single-player fantasy card game played against a computer
opponent. The rules for Magarena are based on the <a
href="http://en.wikipedia.org/wiki/Magic:_The_Gathering">first modern
collectible card game</a>. Learn more <a
href="//github.com/magarena/magarena/wiki">about
Magarena</a>.
</p>

<p>
<a href="//github.com/magarena/magarena/releases/download/{{ site.version }}/Magarena-{{ site.version }}.zip">Download Magarena {{ site.version }} for Windows/Linux</a></br>
<a href="//github.com/magarena/magarena/releases/download/{{ site.version }}/Magarena-{{ site.version }}.app.zip">Download Magarena {{ site.version }} for Mac</a>
(Mac OS users, please read <a href="http://support.apple.com/kb/PH11436">this</a>)
</p>

<p>
<b>Important</b>: After starting the game for the first time, you should
execute "Download images" from the Arena menu. If you are upgrading from a
previous version, you can now indicate the location of the old version and the
images/texts will be copied over automatically.
</p>

<h2>Related project: Project Firemind</h2>
<a href="http://firemind.ch/">Project Firemind</a> is an automated play testing
service based on Magarena's AI. You can submit decks and have the AI play test
them against other decks.
