<h2>Screenshots</h2>

<p>
<a href="//github.com/magarena/magarena/wiki/screenshots/maincombat.jpg">
<img src="//github.com/magarena/magarena/wiki/screenshots/maincombat.jpg" width="252" height="153" alt="Main Combat">
</a> 

<a href="//github.com/magarena/magarena/wiki/screenshots/deckeditor.jpg">
<img src="//github.com/magarena/magarena/wiki/screenshots/deckeditor.jpg" width="252" height="152" alt="Deck Editor">
</a> 

<a href="//github.com/magarena/magarena/wiki/screenshots/card-explorer.png">
<img src="//github.com/magarena/magarena/wiki/screenshots/card-explorer.png" width="252" height="152" alt="Card Explorer">
</a> 

</p>

<h2>Acknowledgements</h2>

<p>
Project hosting provided by <a href="https://github.com/">GitHub</a>.
</p>

<p>
Continuous integration and hourly builds are provided by <a href="https://buildhive.cloudbees.com">BuildHive</a>.
</p>

<p>
Profiling is supported by <a href="http://www.yourkit.com/java/profiler/index.jsp">YourKit Java Profiler</a>. 
<a href="http://www.yourkit.com">YourKit</a> supports open source projects with a free open source license.
</p>

<p>
The information presented on this site about Magic: The Gathering, both literal
and graphical, is copyrighted by Wizards of the Coast. This website is not
produced, endorsed, supported, or affiliated with Wizards of the Coast.
</p>
